head {
    background-color: rgb(37, 67, 234);
}



body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( rgb(45, 68, 223), rgb(112, 94, 216) );
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 50px 0px;
    
    /*
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    */
}


.header {
    font-size: 50px;

}

.subheader {
    font-size: 30px;
    font-weight: 300;
}

