@font-face { font-family: SFProBold; src: url('fonts/SFPRODISPLAYBOLD.otf'); }
@font-face { font-family: SFProRegular; src: url('fonts/SFPRODISPLAYREGULAR.otf'); }
@font-face { font-family: SFProMedium; src: url('fonts/SFPRODISPLAYMEDIUM.otf'); }
@font-face { font-family: SFProUltraLightItalic; src: url('fonts/SFPRODISPLAYULTRALIGHTITALIC.otf'); }
@font-face { font-family: SFProLightItalic; src: url('fonts/SFPRODISPLAYLIGHTITALIC.otf'); }

html {
    scroll-behavior: smooth;
    
}


head {
    background-color: rgb(37, 67, 234);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: SFProRegular;
}

* {
    margin: 0px;
}

#menu-bar {
    background-color:rgb(37, 67, 234);
    color: white;
    font-size: 25px;
    width: 100%;
    z-index: 1;
}

#icons {
    position: absolute;
    padding: 30px;
    right: 10px;
    float: right;
}

#menu-bar p {
    padding: 30px;
}

#icons a {
    padding: 0px 5px;
    display: inline-block;
}

#resume-icon {
    background-color: black;
    content: url('images/resume_icon.png');
    width: 40px;
}

#resume-icon:hover {
    content: url('images/resume_hovered_icon.png');
    width: 40px;
}

#github-icon {
    background-color: black;
    content: url('images/github_icon.png');
    width: 40px;
}

#github-icon:hover {
    content: url('images/github_hovered_icon.png');
    width: 40px;
}

#linkedin-icon {
    background-color: black;
    content: url('images/linkedin_icon.png');
    width: 40px;
}

#linkedin-icon:hover {
    content: url('images/linkedin_hovered_icon.png');
    width: 40px;
}

#email-icon {
    background-color: black;
    content: url('images/email_icon.png');
    width: 40px;
}

#email-icon:hover {
    content: url('images/email_hovered_icon.png');
    width: 40px;
}
/*
#hello {
    background-color: black;
    content: url('images/resume_icon.png');
    width: 90px;
}

#hello:hover {
    content: url('images/resume_hovered_icon.png');
    width: 90px;
}
*/

#landing {
    background-image: linear-gradient( rgb(37, 67, 234), rgb(118, 134, 239) );
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment:scroll;
    margin: 0px;
    padding: 180px 100px;
}

.typed-cursor {
    color: rgba(255, 255, 255, 0.5);
}

.emphasize {
    font-style: italic;
}

.header {
    font-size: 50px;
    font-family: SFProBold;

}

.subheader {
    font-size: 30px;
    font-weight: 300;
    font-family: SFProRegular;
}
.projects-btn {
    text-align: center;
    margin-top: 100px;
}

#projects-btn {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: SFProRegular;
    color: rgb(45, 68, 223);
    border: none;
    border-radius: 12px;
    padding: 30px 20px;
    width: 250px;
    font-size: 25px;
    transition-duration: 0.2s;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

#projects-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#projects-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#projects-btn:hover span {
    padding-right: 25px;
}

#projects-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#projects-btn:hover span:after {
    opacity: 1;
    right: 0;
}

#projects {
    padding: 100px 100px 100px;
    background-image: linear-gradient( rgb(118, 134, 239), rgb(244, 245, 255));
}

#projects h2 {
    font-size: 40px;
    font-family: SFProBold;
}

.project-display {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px 0px;
    min-height: 311px;
    color:rgb(79, 56, 209);
    transition-duration:0.6s;
}


.project-display img {
    width: 500px;
    border-radius: 15px;
    border: 3px solid rgb(79, 56, 209);
    float: left;
    margin-right: 35px;
    margin-bottom: 35px;
}

.project-display h3 {
    font-size: 40px;
    font-weight: 600;
    margin: 40px 20px 0px;
    font-family: SFProMedium;
}

.project-display h4 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 20px;
}

.project-display h5 {
    font-size: 25px;
    font-weight: 300;
    font-family: SFProLightItalic;
    margin: 10px 20px 40px;
    opacity: 0.6;
}

.project-display a {
    margin: 50px 20px 50px 20px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color:rgb(79, 56, 209);
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.project-display:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
  


.project-display a:hover{
    background-color: rgb(121, 97, 255);
}

#about-me {
    padding: 100px 100px 0px;
    background-image: linear-gradient( rgb(244, 245, 255), rgb(244, 245, 255));
    height: 100vh;
}

#about-me h2 {
    font-size: 40px;
    font-family: SFProBold;
    color: rgb(79, 56, 209);
}